@page "/admin"
@inject ResultTextService ResultTextService
@inject IConfiguration Configuration
@inject NavigationManager NavigationManager
@inject FortuneDbContext dbContext

<TitleComponent TitleName="Admin"></TitleComponent>

<div class="form-group">
    
    @if (generatedCode != null)
    {
        <p>Your secret code is: <b>@generatedCode</b></p>
    }
    else
    {
        <p>Click on Generate Code button for new code!</p>
    }
</div>

<button class="btn btn-info" @onclick="GenerateCode">Generate Code</button>
<button class="btn btn-success" @onclick="StoreValue">Store Value</button>


@code {
    private int selectedNumber { get; set; }
    private string longText { get; set; }
    private Result result { get; set; }

    private readonly List<int> Numbers = new List<int>
    {
        1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 22
    };

    [Inject]
    private ResultTextService resultTextService { get; set; }

    private string generatedCode;

    protected override void OnInitialized()
    {
        selectedNumber = Numbers.First();
        //longText = ResultTextService.GetLongText(selectedNumber);
    }

    private void GenerateCode()
    {
        Random random = new Random();
        generatedCode = random.Next(1000, 9999).ToString();        
    }

    private void StoreValue()
    {
        PassCode.SetValue(generatedCode);
    }    

    private void Save()
    {
        Configuration[$"longText:{selectedNumber}"] = longText;
        NavigationManager.NavigateTo("/admin");
    }

    private void Cancel()
    {
        NavigationManager.NavigateTo(NavigationManager.Uri, forceLoad: true);
    }

}