@page "/admin"
@inject ResultTextService ResultTextService
@inject IConfiguration Configuration
@inject NavigationManager NavigationManager
@inject FortuneDbContext dbContext

<TitleComponent TitleName="Admin"></TitleComponent>

<div class="form-group">
    
    @if (generatedCode != null)
    {
        <p>Your secret code is: <b>@generatedCode</b></p>
    }
    else
    {
        <p>Click on Generate Code button for new code!</p>
    }
</div>

<button class="btn btn-info" @onclick="GenerateCode">Generate Code</button>
<button class="btn btn-success" @onclick="StoreValue">Store Value</button>


@code {       

    [Inject]
    private ResultTextService resultTextService { get; set; }

    private string generatedCode;

    protected override void OnInitialized()
    {}

    private void GenerateCode()
    {
        Random random = new Random();
        generatedCode = random.Next(1000, 9999).ToString();        
    }

    private void StoreValue()
    {
        PassCode.SetValue(generatedCode);
    }    
        

}